@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

$main-font: "Montserrat", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: $main-font;
  width: 80vw;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 0;

  > * + * {
    margin-top: 2rem;
  }
}

#user {
  font-size: 1rem;
  color: #4e5150;
  .user-info {
    .user-profile-photo {
      margin: 0 auto;
      border-radius: 60px;
      width: 200px;
    }

    .user-name,
    .user-location {
      text-align: center;
      margin-top: 1em;
    }

    .user-name {
      font-size: 1.5em;
      font-weight: 600;
    }

    .user-location {
      font-size: 1em;
      color: #a9a9a9;
    }
  }

  .wrapper-other-info {
    display: flex;
    justify-content: center;
    .info {
      width: 100px;
      text-align: center;
      background-color: #e5e5e5;
      border-radius: 16px;
      padding: 10px 15px;
      margin: 1.5em 1em 0 0;

      p:first-child {
        font-size: 1.1em;
      }

      p {
        font-size: 0.9em;
      }
    }
  }
}

#gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-content: space-between;
  align-items: stretch;
  gap: 1rem;

  img {
    border-radius: 20px;
  }

  #img1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #img2 {
    grid-area: 1 / 2 / 2 / 4;
  }

  #img3 {
    grid-area: 2 / 1 / 3 / 3;
  }

  #img4 {
    grid-area: 2 / 3 / 4 / 4;
  }

  #img5 {
    grid-area: 3 / 2 / 4 / 3;
  }

  #img6 {
    grid-area: 3 / 1 / 4 / 2;
  }
}

footer {
  margin-top: 100px;
  text-align: center;
  color: #a9a9a9;
  font-weight: 600;
}

@media (max-width: 1024px) {
  #user {
    .user-info {
      .user-profile-photo {
        width: 150px;
      }
    }
  }
}


@media (max-width: 700px) {
  body {
    width: 90vw;
  }
  #user {
    font-size: 14px;

    .wrapper-other-info {
      .info {
        width: 90px;
      }
    }
  }

  footer {
    font-size: 14px;
  }
}